@import url(./fonts.css);
@import url(./normalize.css);
@import url(./reset.css);
@import url(./fontello.css);
@import url(./module.css);

/* 숨김 콘텐츠 */
.a11y-hidden,
legend {
  /* position, display 둘다 가능 */
  position: absolute;
  /* display: inline-block; */
  /* em으로 쓰면 상속받는 특성 상 값이 더 커진다. 스크린리더기가 읽을 수 있음!!
    display, visibility : hidden은 스크린리더기가 읽지 못한다.
  */
  /* top: -9999em; */
  width: 1px;
  height: 1px;
  /* 메인메뉴라는 글자가 안보임 */
  overflow: hidden;
  /* 구형 브라우저 clip */
  /* clip: rect(0, 0, 0, 0); */
  clip-path: polygon(0 0, 0 0, 0 0);
}
/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box; /* 30px이 940px 안에 포함되어 있음*/
}

html {
  font-size: 10px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 본문스타일 */
body {
  /* em, rem 단위 사용해보기 : 10px * 1.4 = 14px */
  font-size: 1.4rem;
  color: #212121;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  /* background-color: #ccc;
  background-image: url("./images/bg_flower.png"),
    linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
  background-repeat: no-repeat, repeat;
  background-position: 50% 0px, 0 0; */
  /* background-attachment: fixed; */
  background: url("./images/bg_flower.png") no-repeat 50% 0,
    #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%)
      repeat 0 0;
}

/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  margin: 0 auto; /* 0 0 0 auto : 오른쪽 정렬처럼 보여짐 다양한 레이아웃 사용가능 */
}

/* 헤더 */
.header {
  background: #fff;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
  position: relative; /* 전체적인 레이아웃 유지시켜줌 */
}

/* 로고  */
.logo {
  position: absolute;
  top: 45px;
  left: 60px;
  z-index: 10;
}

/* 텍스트 링크 모음 */
.member {
  text-align: right;
  /* 1. 상속을 이용해 공백없애기 - 자식에게 상속시키고 16px줘서 폰트는 나오고 공백삭제 */
  /* font-size: 0; */
  padding: 4px 0;
  /* position 속성을 이용해 .member 영역을 오른쪽으로 10px 만큼 이동하기 */
  /* position: relative;
  right: -10px; */
  /* transform 속성을 이용해 .member 영역을 오른쪽으로 10px 만큼 이동하기 */
  transform: translate(10px);
}

.member li {
  /* background-color: lightpink; */
  display: inline-block;
  /* font-size: 16px; */
}

.member a {
  padding: 6px 10px; /* 터치할 수 있는 영역이 더 커짐 */
  display: inherit; /* 상속해서 그대로 받아옴 inline-block */
  text-transform: uppercase;
}

/* 마지막 li 요소에 포함된 a 요소를 선택해 오른쪽 padding값을 0으로 재정의하는 방법 */
/* .member li:last-child a {
  padding-right: 0;
} */

.divider {
  margin-right: 4px;
}

.navigation {
  padding-bottom: 40px;
}

/* 메인메뉴 */
.menu {
  /* currentColor : 상속된 색으로 받는다. body의 컬러로 */
  border-top: 2px solid currentColor;
  background: #e85e2c
    linear-gradient(
      to bottom,
      #1e5799 0%,
      #ef9126 0%,
      #e85e2c 35%,
      #e85e2c 70%,
      #ef9126 100%
    );
  border-radius: 0 0 5px 5px;
  /* menu-item 플롯 사용으로 잃어버린 높이값 되찾기 */
  /* display: flow-root; */
  padding-left: 230px;
  /* 높이를 줘도 플롯 문제를 해결한 것 처럼 보인다. */
  height: 47px;
  /* 4 ~ 6번 : menu 기준으로! */
  position: relative;
}

/* 3번까지는 li 기준으로  */
.menu > li:nth-child(-n + 3) {
  position: relative;
}

.menu-item {
  float: left;
  border-left: 2px solid #fff;
  /* 서브메뉴의 기준 */
  /* position: relative; */
}

/* 구체성 -> 10점 (class 1번 사용) */
.menu-button {
  border: 0;
  background-color: transparent;
  padding: 0 23px;
  line-height: 45px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}

/* 구체성 -> 20점 */
.is-active .menu-button {
  color: yellow;
}

.is-active .menu-button::after {
  display: block;
  content: "";
  /* 메뉴버튼에 line-height: 45px을 줬기때문에 메뉴버튼 밑에 줄이 딱 생긴다.
    line-height를 안주면 글자 밑에 붙게되서 임의로 위치를 옮겨줘야 함.
  */
  border-top: 2px solid #212121;
}

.sub-menu {
  /* 메뉴버튼 크기에 영향을 미치지 않게 하기위해 position 적용 (버튼끼리 붙음) */
  /* 독립된 BFC가 생김(float했을때 해제) */
  position: absolute;
  /* left: 0; */
  top: 47px;
  display: none;
  /* 메뉴 검정 구분선과 붙어있지 않기 위해 */
  padding: 4px 0;
}

.menu-html,
.menu-css,
.menu-standards {
  left: 0;
}

.menu-accessibility,
.menu-qna,
.menu-archive {
  right: 0;
}

.is-active .sub-menu {
  display: block;
  /* 줄바꿈 금지! 서브메뉴들이 줄바꿈되지않고 늘려버림 */
  white-space: nowrap;
}

.sub-menu li {
  display: inline-block;
}

.sub-menu a::before {
  content: "\e805";
  font-family: "fontello";
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sub-menu a:hover::before,
.sub-menu a:focus::before {
  /* focus : 키보드로 탭 눌렀을때도 변함 */
  content: "\e801";
}

.sub-menu a {
  padding: 6px 0px;
  /* 부모의 li는 인라인블록이므로 자식도 인라인블록을 사용!
    인라인블록 설정을 해줘야 인라인 설정이 바뀜 (a: 인라인)
  */
  display: inline-block;
}

.sub-menu a:hover,
.sub-menu a:focus {
  color: red;
}

/* 비주얼 */
@keyframes moveEffect {
  0% {
    font-size: 12px;
    color: hsla(0, 0%, 0%, 0);
    /* color: rgba(0, 0, 0, 0); */
    /* padding: 0; */
    /* top: 0;
    left: 0; */
    transform: translate(0, 0);
  }
  100% {
    font-size: 24px;
    color: hsla(0, 0%, 0%, 1);
    /* color: rgba(0, 0, 0, 1); */
    /* padding: 75px 0 0 400px; */
    /* top: 75px;
    left: 400px; */
    transform: translate(400px, 75px);
  }
}

@keyframes fadeEffect {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.visual {
  /* background: orange; */
  height: 120px;
  position: relative;
}

/* 뒤에 꽃 두개 두개씩 깔아놓기 위해 가상선택자 사용(마크업 건들지않고 배경을 이용) */
.visual::before,
.visual::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* animation-name: fadeEffect;
  animation-duration: 2000ms;
  animation-iteration-count: infinite; */
  /* 1~0까지 1번, 0~1까지 1번 왔다갔다해줌 */
  /* animation-direction: alternate; */
  animation: fadeEffect 2000ms alternate infinite;
}

.visual::before {
  background: url("./images/ani_flower_01.png") no-repeat 0 -10px,
    url("./images/ani_flower_02.png") no-repeat 600px 0;
}
.visual::after {
  background: url("./images/ani_flower_03.png") no-repeat 300px 0,
    url("./images/ani_flower_04.png") no-repeat 800px 0;
  animation-delay: 1000ms;
}

.visual-text {
  /* position: absolute; */
  font-family: Georgia, "Times New Roman", Times, serif;
  /* background-color: aqua; */
  /* animation-name: moveEffect; */
  /*animation-duration: 400ms;*/ /* 400ms : normal */
  /* animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; */
  animation: moveEffect 400ms ease-in-out forwards;
  /* display: inline-block; */
  /*
    그냥 띄워놓는 용도로 position을 써도 된다. 만약
    이동을 할거라면 visual에 position: relative를 줘야함!
    position도 인라인 블록처럼 사용가능.
  */
  /* absolute에서 relative로 준 이유: before에게 가려지므로 띄우고 z-index로 순서조정 */
  position: relative;
  z-index: 1;
}

/* 메인 */
.main {
  background: #fff;
  min-height: 50vh;
  /* 메인에 flow-root를 주고 안전장치로 슬로건에도 clear:both를 준다. */
  display: flow-root; /*모던방식*/
  /* overflow는 독립적인 블록을 가지려고 한다. */
  /* BFC 찾아보기 - block format context */
  /* overflow: hidden; */
  /* 이중 float시킬때는 부모요소에 float: left; 를 주는 방법도 있다. */
  /* float: left; */
  padding: 30px 15px;
  border-radius: 15px 15px 0 0;
}

/*.main::after {
  content: "";
  clear: both; /*플롯 양쪽 모두 해제*/
/*가상선택자는 인라인이기때문에 블록형태로 만들어야함
  display: block;
*/
.group {
  margin: 0 15px;
  float: left;
}

.group1 {
  width: 250px;
}
.group2 {
  width: 380px;
}
.group3 {
  width: 190px;
}

/* 로그인 */
.login {
  box-shadow: 5px 5px 0 0 #ccc;
  background: orange radial-gradient(circle at right top, orange, orangered);
  border-radius: 5px;
  padding: 10px;
}

.login-title {
  font-size: 15px;
  font-weight: 700;
  color: #ff0;
  text-indent: 10px;
}

.login-form {
  background-color: #fff;
  margin-top: 10px;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0 10px;
}

.login-form fieldset {
  /* 로그인 버튼의 기준 */
  position: relative;
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
}

.user-email,
.user-pw {
  margin-bottom: 5px;
}

.login-form label {
  display: inline-block;
  /* 4글자만큼 기준 (15*4) */
  width: 4em;
}

.login-form input {
  width: 90px;
  height: 24px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
}

.button-login {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 53px;
  background-color: orangered;
  color: #fff;
  border: 0;
  padding: 0 10px;
  border-radius: 3px;
  font-size: 13px;
}

.sign {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  padding: 4px 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.sign a {
  /* padding을 주기위해 블록처리 */
  display: block;
  padding: 6px 0;
  letter-spacing: -1px;
}

.sign a::before {
  content: "\e803";
  margin-right: 8px;
  color: orangered;
  font-family: "fontello";
}

/* 유효성 검사 배너 */
.validation-list {
  /* 그림자로부터 떨어져야하므로 20이 아니라 그림자값을 더줘 25px 넣어줌 */
  margin-top: 25px;
  /* padding-top: 1px; */
  /* border: 1px solid red; */
}

.validation-list li {
  /*
    첫번째 li는 마진이 겹친다. (ul: 25, li: 10) -> 25안에 10이 포함된다.
    마진은 투명해서 겹칠 수 있다. 그러나 ul에 패딩1px이나 보더값1을 주면 겹치지않음 (바리케이트 치는 느낌)
    normal flow일때는 겹친다 하지만 flex, float를 주면 겹치지않음!!
  */
  margin-top: 10px;
}

.validation-list a {
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  padding: 8px 15px;
  border-radius: 30px;
  border: 1px solid #aaa;
  display: block;
  padding-left: 20px;
  /* padding값 + font-size값  */
  line-height: 30px;
}

.validation-list a:hover,
.validation-list a:focus {
  color: red;
}

.validation-list a::before {
  content: url(./images/validation_icon.png);
  vertical-align: middle;
  padding-right: 5px;
}

/* .main::before {
  content: "첫번째 자식 요소 입니다.";
  color: #000;
}
.main::after {
  content: "마지막 자식 요소 입니다.";
  color: #000;
} */

/* 웹 관련 용어 */
.term {
  margin-top: 20px;
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px 15px;
}

.term-title {
  /* font-size: 1.5rem; */ /* 15px과 동일 */
  font-size: 15px;
  font-weight: 700;
}

.term-list {
  display: flow-root;
  margin-top: 10px;
}

.term-list div {
  margin-top: 10px;
  display: flow-root;
}

.term-list-subject,
.term-list-brief {
  float: right;
  width: 145px;
}

.term-list-subject {
  color: #296897;
  font-weight: 500;
}

.term-list-thumbnail {
  float: left;
}

.term-list-thumbnail img {
  /* 화면 아래 이미지 밑부분의 여백을 없애줌 (인라인박스가 가지는 요소) */
  /* display: block; */
  vertical-align: middle;
}

.term-list-brief {
  margin-top: 5px;
  /* 가독성 증진용 */
  line-height: 1.5;
}

.cross .term-list-subject,
.cross .term-list-brief {
  float: left;
}

.cross .term-list-thumbnail {
  float: right;
}

/* 검색 폼 */
.search-form {
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  border-radius: 15px 15px 0 0;
  border: 1px solid #aaa;
  padding: 15px 25px 10px;
  /* width: 380px; */
}

.search-form-inner {
  /* background-color: yellow; */
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: space-between; */
}

.form-group {
  /* background-color: pink; */
  /* 영역 확장 */
  flex-grow: 1;
  /* 다시 플랙스 적용시킴 input을 배치하기 위함 */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-right: 10px;
}

.form-group-label {
  /* background-color: lightblue; */
  /* 폼그룹 너비가 줄어들어도 자료검색과 검색버튼 줄바꿈 금지 */
  white-space: nowrap;
  margin-right: 10px;
}

.form-group-input {
  /* 영역확장 부모의 너비끝까지 */
  flex-grow: 1;
  border: 1px solid #aaa;
  border-radius: 3px;
  height: 24px;
  padding: 1px 1px 1px 5px;
  /*
    브라우저마다 다르기때문에 최소너비를 0을 준다.
    그러면 튀어나갔던 버튼이 제자리로 돌아온다.
  */
  min-width: 0;
  width: 100%;
}

.search-button {
  white-space: nowrap;
  background-color: #000;
  color: #fff;
  height: 24px;
  border: 0;
  border-radius: 3px;
  padding: 0 10px;
  /* 12px로 조절 */
  font-size: 1.2rem;
}

/* 공지사항 및 자료실 */
.board {
  margin-top: 20px;
  position: relative;
}

.tab-list {
  display: flex;
  flex-flow: row nowrap;
}

.tab {
  border: 1px solid #aaa;
  background-color: #ccc;
  border-radius: 5px 5px 0 0;
  padding: 5px 10px;
  color: #666;
}

.is-select.tab {
  background-color: #fff;
  color: #e85e2c;
  border-color: currentColor currentColor #fff currentColor;
}

.tab-panel {
  display: none;
  margin-top: 15px;
}

.is-select.tab-panel {
  display: block;
}

.board-list li {
  margin-top: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  line-height: 1.5;
}

.board-list a {
  /* 앵커영역 확대 */
  flex-grow: 1;
  /* 말줄임표 세트 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board-list time {
  flex-shrink: 0;
  margin-left: 10px;
}

.board-more {
  /* background-color: skyblue; */
  position: absolute;
  /* 패딩때문에 위치조절을 다시 해준 것 */
  top: -8px;
  right: -8px;
  /* 키보드 접근시 클릭할 수 있는 영역이 넓게 하기 위해 */
  padding: 8px;
}

.icon-plus::before {
  /* 색상의 농도를 조절하기에 좋음 */
  color: hsla(110, 50%, 30%, 1);
}

/* 새소식 */
.news {
  margin-top: 20px;
  position: relative;
  position: relative;
}

.news::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  width: 80%;
  height: 1px;
  background: #aaa linear-gradient(to right, #ccc, #fff);
}

.news-title {
  color: #e85e2c;
  font-size: 1.5rem;
  font-weight: 700;
}

.news-link {
  display: block;
}

.news-item {
  margin-top: 35px;
  padding-left: 130px;
  position: relative;
}

.news-item-title {
  font-weight: 500;
}

.news-item-date {
  display: block;
  margin: 5px 0 10px;
}

.news-item-brief {
  line-height: 1.5;
}

.news-item-thumbnail {
  position: absolute;
  top: 2px;
  left: 0;
  text-align: center;
}

.news-item-thumbnail img {
  box-shadow: 0 15px 10px 5px #ccc;
  margin-bottom: 15px;
}

.news-more {
  /*
    position은 블록형태이다. 인라인아님!
    블록의 성격을 가지고 랜더링 (너비, 높이값 줄 수 있는형태)
    인라인형태로 오해할 수 있음! 한 줄을 다 가지지 않아서
  */
  position: absolute;
  /* 클릭 면적이 늘어남 */
  padding: 8px;
  top: -8px;
  right: -8px;
}

/* 신규 이벤트 및 관련 사이트 */
.event {
  border-bottom: 1px solid #aaa;
}

.event-title {
  /* 신규이벤트는 좌측으로 인라인블록 */
  display: inline-block;
}

.event-button-wrapper {
  /*
    파이어폭스에선 버튼에 높이값을 주면 overflow가 먹지않아서 부모요소에 높이값을 지정후
    버튼에 높이값 100%를 준다.
  */
  /* 탭키눌렀을때 아웃라인 보이게하기위해 20px 지정하고 자식은 18px 다시 줌 */
  height: 20px;
  overflow: hidden;
  /* 아이콘밑에 작은 여백을 없애기위해 flex모델 사용 */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  /* IE 적용안되서 margin, padding줘서 여백띄움! */
  gap: 5px;
  /* 버튼은 오른쪽으로 플롯시킴 */
  float: right;
}

#eventDetail {
  /*
    플롯한것 때문에 밑에 박스에 clear: both;
    같이 묶이지 않은 것 때문에 부모요소에 flow-root를 줘도 안먹힘
  */
  clear: both;
  /* padding-top: 10px; */
}

/* IR 기법 -> Image Replacement */
.event-button {
  width: 19px;
  /* height: 100%; */
  height: 18px;
  border: 0;
  padding: 18px 0 0 0;
  background: url(./images/back_forward.png);
}

.event-button:focus {
  outline-offset: -2px;
}

.event-button-next {
  background-position: -36px 0;
}

.event-thumbnail,
.event-brief {
  margin: 10px 0;
}

.event-thumbnail img {
  border: 1px solid #aaa;
  box-shadow: 5px 5px 0 0 #ccc;
}

.event-brief {
  line-height: 1.5;
}

.related {
  margin-top: 10px;
}

.related-list {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-top: 10px;
  /*
    이 요소들을 시작하는 지점에 넣어야함 (트리거)
    만약 hover에 넣어주면 급작스럽게 끝맺음!
  */
  /* transition-property: background-color;
  transition-duration: 500ms; */
  height: 27px;
  overflow: hidden;
  /* 높이 시간 지난 후 패딩값 늘어난 것 시작하도록 지연시간 400ms 준 것 */
  transition: height 400ms 0ms, padding 400ms 400ms;
  padding: 0;
}

.related-list li {
  /* background-color: yellow; */
  height: 25px;
  display: flex;
  flex-flow: row nowrap;
  /* li가 딱 가운데 오도록 해줌 */
  align-items: center;
  padding: 0 5px;
}

.related-list a {
  /* background-color: palegoldenrod; */
  flex-grow: 1;
  padding: 0 10px;
}

.related-list:hover,
.related-list:focus {
  height: 147px;
  padding: 10px 0;
}

/* 인기 사이트 */
.favorite {
  position: relative;
}

.favorite-list {
  /* background-color: yellow; */
  list-style-type: none;
  /* counter-reset: number 10; */
}
.favorite-list li {
  margin-top: 10px;
  /* 카운터 함수!! 숫자를 순서대로 나오게 해줌 */
  counter-increment: number;
  /* 글자와 같은 미들라인에 오게하기 위해 사용 (글자가 커졌을때도) */
  /* display: flex;
  flex-flow: row nowrap;
  align-items: center; */
  /* 안되는 이유: li:before까지 포함해 글씨도 중앙정렬로 옴 그래서 margin-left: auto써줌 */
  /* justify-content: space-between; */
  position: relative;
}
.favorite-list li::before {
  /* 숫자가 바로 나온다! 순서대로 */
  content: counter(number);
  background-color: #aaa;
  color: #fff;
  /* padding: 1px 5px; */
  font-size: 1.2rem;
  margin-right: 5px;
  border-radius: 3px;
  display: inline-block;
  width: 1.5em;
  text-align: center;
  line-height: 1.5;
}

/* .favorite-list a {
  background-color: aqua;
  영역확장 시켜서 이미지들을 오른쪽으로 보내줌
  flex-grow: 1;
} */

.up,
.stop,
.down {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -6px;
  /* transform이 가능하면 flex도 가능! 해서 플렉스가 더 나음 */
  /* transform: translateY(-50%); */
  /* display: inline-block; */
  width: 20px;
  height: 11px;
  /* flex와 함께쓰면 알아서 이미지가 오른쪽으로 붙는다. */
  /* margin-left: auto; */
  background: url(./images/rank.png) no-repeat 100% 0;
}

.stop {
  /* x축 100%주면 가장 오른쪽으로 위치함 */
  background-position: 100% 48%;
}
.down {
  background-position: 100% 100%;
}

.favorite-more {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}

/* 슬로건 */
.slogan {
  /* 안전장치로 한번 더 해줌 (추가로 준 것) */
  clear: both;
  position: relative;
  padding: 15px 100px 15px 180px;
}

.slogan-title {
  width: 110px;
  height: 83px;
  /* 글자를 커피잔 뒤에 숨기기위해 가운데 정렬 */
  text-align: center;
  line-height: 83px;
  /* relative였는데 커피잔을 밑으로 내리기 위해 슬로건 기준으로 absolute로 다시 변경 */
  position: absolute;
  bottom: -25px;
  left: 35px;
}

.slogan-title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./images/coffee.png) no-repeat;
}

.slogan-content {
  color: #a09784;
}

.slogan-content q::before {
  font-size: 3rem;
  /* 인라이늘록 상태로 만들고 transform 사용하기 (배경색 넣어서 보면 더 잘 보임) */
  display: inline-block;
  transform: translateY(10px);
}
.slogan-content q::after {
  content: "";
}

/* 푸터 */
.footer {
  background: #ccc
    linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
}
.footer-inner {
  /* background-color: pink; */
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  padding: 20px 0;
}
.footer-logo {
  /* background-color: aqua; */
  width: 150px;
  padding: 20px 0 0 35px;
}

.footer-inner-wrapper {
  /* background-color: lime; */
  /* 영역 확장 */
  flex-grow: 1;
}

.guide-list {
  display: flex;
  flex-flow: row nowrap;
  background-color: #7b8385;
  color: #fff;
  padding: 4px 45px;
  justify-content: space-between;
  text-transform: uppercase;
  border-radius: 30px;
}

.guide-list a {
  display: block;
  padding: 6px 10px;
}

.address,
.copyright {
  font-size: 1.3rem;
  display: block;
  margin-top: 10px;
}

.badge-wrapper {
  /* background-color: salmon; */
}
