@import url(./fonts.css);
@import url(./normalize.css);
@import url(./reset.css);

/* 숨김 콘텐츠 */
.a11y-hidden {
  /* position, display 둘다 가능 */
  position: absolute;
  /* display: inline-block; */
  /* em으로 쓰면 상속받는 특성 상 값이 더 커진다. 스크린리더기가 읽을 수 있음!!
    display, visibility : hidden은 스크린리더기가 읽지 못한다.
  */
  /* top: -9999em; */
  width: 1px;
  height: 1px;
  /* 메인메뉴라는 글자가 안보임 */
  overflow: hidden;
  /* 구형 브라우저 clip */
  /* clip: rect(0, 0, 0, 0); */
  clip-path: polygon(0 0, 0 0, 0 0);
}
/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box; /* 30px이 940px 안에 포함되어 있음*/
}

html {
  font-size: 10px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 본문스타일 */
body {
  /* em, rem 단위 사용해보기 : 10px * 1.4 = 14px */
  font-size: 1.4rem;
  background: #ccc
    linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
}

/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  margin: 0 auto; /* 0 0 0 auto : 오른쪽 정렬처럼 보여짐 다양한 레이아웃 사용가능 */
}

/* 헤더 */
.header {
  background: #fff;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
  position: relative; /* 전체적인 레이아웃 유지시켜줌 */
}

/* 로고  */
.logo {
  position: absolute;
  top: 45px;
  left: 60px;
  z-index: 10;
}

/* 텍스트 링크 모음 */
.member {
  text-align: right;
  /* 1. 상속을 이용해 공백없애기 - 자식에게 상속시키고 16px줘서 폰트는 나오고 공백삭제 */
  /* font-size: 0; */
  padding: 4px 0;
  /* position 속성을 이용해 .member 영역을 오른쪽으로 10px 만큼 이동하기 */
  /* position: relative;
  right: -10px; */
  /* transform 속성을 이용해 .member 영역을 오른쪽으로 10px 만큼 이동하기 */
  transform: translate(10px);
}

.member li {
  /* background-color: lightpink; */
  display: inline-block;
  /* font-size: 16px; */
}

.member a {
  padding: 6px 10px; /* 터치할 수 있는 영역이 더 커짐 */
  display: inherit; /* 상속해서 그대로 받아옴 inline-block */
  text-transform: uppercase;
}

/* 마지막 li 요소에 포함된 a 요소를 선택해 오른쪽 paading값을 0으로 재정의하는 방법 */
/* .member li:last-child a {
  padding-right: 0;
} */

.divider {
  margin-right: 4px;
}

.navigation {
  padding-bottom: 80px;
}

/* 메인메뉴 */
.menu {
  /* currentColor : 상속된 색으로 받는다. body의 컬러로 */
  border-top: 2px solid currentColor;
  background: #e85e2c
    linear-gradient(
      to bottom,
      #1e5799 0%,
      #ef9126 0%,
      #e85e2c 35%,
      #e85e2c 70%,
      #ef9126 100%
    );
  border-radius: 0 0 5px 5px;
  /* menu-item 플롯 사용으로 잃어버린 높이값 되찾기 */
  /* display: flow-root; */
  padding-left: 230px;
  /* 높이를 줘도 플롯 문제를 해결한 것 처럼 보인다. */
  height: 47px;
  /* 4 ~ 6번 : menu 기준으로! */
  position: relative;
}

/* 3번까지는 li 기준으로  */
.menu > li:nth-child(-n + 3) {
  position: relative;
}

.menu-item {
  float: left;
  border-left: 2px solid #fff;
  /* 서브메뉴의 기준 */
  /* position: relative; */
}

/* 구체성 -> 10점 (class 1번 사용) */
.menu-button {
  border: 0;
  background-color: transparent;
  padding: 0 23px;
  line-height: 45px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}

/* 구체성 -> 20점 */
.is-active .menu-button {
  color: yellow;
}

.is-active .menu-button::after {
  display: block;
  content: "";
  /* 메뉴버튼에 line-height: 45px을 줬기때문에 메뉴버튼 밑에 줄이 딱 생긴다.
    line-height를 안주면 글자 밑에 붙게되서 임의로 위치를 옮겨줘야 함.
  */
  border-top: 2px solid #212121;
}

.sub-menu {
  background-color: pink;
  /* 메뉴버튼 크기에 영향을 미치지 않게 하기위해 position 적용 (버튼끼리 붙음) */
  /* 독립된 BFC가 생김(float했을때 해제) */
  position: absolute;
  /* left: 0; */
  top: 47px;
  display: none;
}

.menu-html,
.menu-css,
.menu-standards {
  left: 0;
}

.menu-accessibility,
.menu-qna,
.menu-archive {
  right: 0;
}
.is-active .sub-menu {
  display: block;
  /* 줄바꿈 금지! 서브메뉴들이 줄바꿈되지않고 늘려버림 */
  white-space: nowrap;
}

.sub-menu li {
  display: inline-block;
  background-color: lime;
}

.sub-menu a::before {
  content: "\e805";
  font-family: "fontello";
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sub-menu a:hover::before,
.sub-menu a:focus::before {
  /* focus : 키보드로 탭 눌렀을때도 변함 */
  content: "\e801";
}

/* 비주얼 */
.visual {
  background: orange;
  height: 10vh;
}

/* 메인 */
.main {
  background: lightblue;
  height: 50vh;
  display: flow-root; /*모던방식*/
  /* overflow는 독립적인 블록을 가지려고 한다. */
  /* BFC 찾아보기 - block format context */
  /* overflow: hidden; */
  /* 이중 float시킬때는 부모요소에 float: left; 를 주는 방법도 있다. */
  /* float: left; */
  padding: 0 15px;
}

/*.main::after {
  content: "";
  clear: both; /*플롯 양쪽 모두 해제*/
/*가상선택자는 인라인이기때문에 블록형태로 만들어야함
  display: block;
*/
.group {
  margin: 0 15px;
  float: left;
}

.group1 {
  background-color: violet;
  width: 250px;
}
.group2 {
  background-color: salmon;
  width: 380px;
}
.group3 {
  background-color: gold;
  width: 190px;
}

/* .main::before {
  content: "첫번째 자식 요소 입니다.";
  color: #000;
}
.main::after {
  content: "마지막 자식 요소 입니다.";
  color: #000;
} */

/* 슬로건 */
.slogan {
  background: lightgreen;
  height: 10vh;
}

/* 푸터 */
.footer {
  background: #ccc
    linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
}

.footer-inner {
  height: 15vh; /* 15vh = 15% */
  background: lightgray;
}
